<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Inventario</h1>
            </div><!--col-->
            <!--<div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home/</a></li>
                </ol>
            </div>--><!--col-->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <!--CONTENIDO-->
      <hr>
      <input type="button" value="Crear Inventario" class="btn-warning" (click)="mostrar_form('ver')">
      <hr>
      <!--FORMULARIO-->
      <div id="formulario" *ngIf="mform == true">
            <div class="row">
                <div class="col-lg-4">
                    <input type="date" class="form-control" id="date" name="date" [(ngModel)]="obj_inventario.fecha">
                    <span style="color: rgb(0, 255, 225);" *ngIf="Validar_fecha == false" >Insertar fecha del inventario</span>
                </div>
                <div class="col-lg-4">
                    <select class="form-control form-select" [(ngModel)]="obj_inventario.fo_productos">
                        <option value="0" label="seleccione producto" selected="selected">Seleccione el producto</option>
                        <option *ngFor="let itemp of productos" value="{{itemp.id_productos}}">{{itemp.nombre}}</option>
                    </select>
                    <span style="color: red;" *ngIf="Validar_fo_productos === false">Seleccionar el prodcuto</span>
                </div>
                <div class="col-lg-4">
                    <select class="form-control form-select" [(ngModel)]="obj_inventario.fo_proveedor">
                        <option value="0" label="seleccione proveedor" selected="selected">Seleccione el proveedor</option>
                        <option *ngFor="let itempro of proveedor" value="{{itempro.id_proveedor}}">{{itempro.razon_social}}</option>
                    </select>
                    <span style="color: red;" *ngIf="Validar_fo_proveedor === false">Seleccionar un proveedor</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <input type="text" class="form-control" placeholder="Cantidades Recibidas" 
                    [(ngModel)]="obj_inventario.cantidades">
                    <span style="color: red;" *ngIf="Validar_cantidades == false">Insertar las cantidades recibidas en inventario</span>
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" placeholder="Nombre" 
                    [(ngModel)]="obj_inventario.nombre">
                    <span style="color: red;" *ngIf="Validar_nombre == false">Insertar el nombre del producto</span>
                </div>
                <div class="col-lg-4">
                    <select class="form-control form-select" [(ngModel)]="obj_inventario.fo_marca">
                        <option value="0" label="seleccione la marca" selected="selected">Seleccione la marca</option>
                        <option *ngFor="let itemarca of marca" value="{{itemarca.id_marca}}">{{itemarca.nombre}}</option>
                    </select>
                    <span style="color: red;" *ngIf="Validar_fo_marca === false">Seleccionar la marca del prodcuto</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <input type="text" class="form-control" placeholder="Código" 
                    [(ngModel)]="obj_inventario.codigo">
                    <span style="color: red;" *ngIf="Validar_codigo == false">Insertar el codigo del producto</span>
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" placeholder="Stock" 
                    [(ngModel)]="obj_inventario.stoock">
                    <span style="color: red;" *ngIf="Validar_stoock == false">Insertar el stoock del producto</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <input type="button" value="Guardar" class="btn btn-primary" style="width: 100%;" (click)="validar('guardar')" *ngIf="botones_form == false">
                    <input type="button" value="Editar" class="btn btn-primary" style="width: 100%;" (click)="validar('editar')" *ngIf="botones_form == true">
                </div>
                <div class="col-lg-4">
                    <input type="button" value="Cancelar" class="btn btn-secondary" style="width: 100%;" (click)="mostrar_form('no ver')">
                </div>
            </div>
      </div>
      <!--Tabla-->
      <hr>
      <div style="background-color: rgb(94, 53, 53);" id="tabla">
        <div class="row">
            <!--<div class="col-lg-1"></div>-->
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                          <th>Producto</th>
                          <th>Fecha</th>
                          <th>Codigo</th> 
                          <th>Nombre</th>
                          <th>Proveedor</th>
                          <th>Cantidades Recibidas</th>
                          <th>Marca</th>
                          <th>Stock</th>
                          <th>Acciones</th>
                        </tr>
                        <tr *ngFor="let item of inventario">
                          <td>{{item.productos}}</td>
                          <td>{{item.fecha}}</td>
                          <td>{{item.codigo}}</td>
                          <td>{{item.nombre}}</td>
                          <td>{{item.proveedor}}</td>
                          <td>{{item.cantidades}}</td>
                          <td>{{item.marca}}</td>
                          <td>{{item.stoock}}</td>
                          <td>
                            <span class="fas fa-edit" style="color: rgb(26, 8, 130); cursor: pointer;" title="Editar" (click)="cargar_datos(item, item.id_inventario)"></span> 
                            / 
                           <span class="fas fa-backspace" style="color: rgb(255, 0, 0); cursor: pointer;" title="Eliminar" (click)="eliminar(item.id_inventario)"></span>
                          </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!--<div class="col-lg-1"></div>-->
        </div>
      </div>
    </div>
</section>
<!-- /.content -->