<body style="background-image: url(../../../assets/dist/img/iconos/Pan1.jpg);" class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div id="log" class="card card-outline card-primary">
      <div id="nav" class="card-header text-center">
        <h1><b>BREAD</b>GESTION</h1>
      </div>
      <div class="card-body">
        <p class="login-box-msg">¡BIENVENIDO! INICIA SESIÓN</p>
  
        <form action="#" method="post">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" name="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="clave" name="clave">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block" (click)="consulta('')">INICIAR SESIÓN</button>
          </div>
          <!-- /.col -->
        </form>
  
        <div class="col-12" *ngIf="error==true">
          <span style="color: blue;">Email o contraeña incorrecta.</span>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.login-box -->
</body>
