<!-- Content Header (Page header) -->
<div style="background-color: white; color: black; font-style: italic;" class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Insertar Ventas</h1>
            </div><!--col-->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section style="background-color: white; color: black;" class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- Lista de productos -->
        <div class="col-lg-6">
            <div id="producto">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <caption>PRODUCTOS</caption>
                          <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Stock</th>
                            <th>Precio</th>
                            <th></th>
                          </tr>  
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of productos">
                            <td>{{item.codigo}}</td>
                            <td>{{item.nombre}}</td>
                            <td>{{item.stoock}}</td>
                            <td>{{item.valor_venta | currency}}</td>
                            <td>
                                <span class="fas fa-check-square" style="color: green; font-size: 18px; cursor: pointer;" (click)="seleccionar(item, item.id_producto)"></span>
                            </td>
                            </tr>
                        </tbody>    
                    </table>
                </div>
            </div>
        </div>
        <!-- Cliente -->
        <div class="col-lg-6">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <caption>CLIENTE</caption>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" placeholder="Identificación Del Cliente" [(ngModel)]="identificacion_cliente" (keyup)="consulta_cliente()">
                                    </div>
                                    <div class="col-lg-7">
                                        {{nombre_cliente}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- Resumen de la venta -->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <caption>VENTA</caption>
                        <tr>
                            <th>Producto</th>
                            <th>V. unitario</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let itemp of matriz_producto let i = index">
                            <td>{{itemp[1]}}</td>
                            <td>{{itemp[2] | currency}}</td>
                            <td>{{itemp[3]}}</td>
                            <td>{{itemp[4] | currency}}</td>
                            <td>
                                <span class="fas fa-backspace" style="color: rgb(255, 0, 0); cursor: pointer;" title="Quitar" (click)="quitar(i)"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td>IVA (19%):</td>
                            <td>{{ total * iva | currency }}</td>
                            <td></td>       
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td><b>TOTAL:</b></td>
                            <td>{{ total + (total * iva) | currency }}</td>  
                            <td></td>        
                        </tr>
                    </tbody>
                </table>
            </div>
            <input type="button" value="Guardar Venta" class="btn btn-warning" style="width: 100%;" (click)="guardar()">
        </div>
      </div>
    </div>
</section>
<!-- /.content -->
