<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Productos</h1>
            </div><!--col-->
            <!--<div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home/</a></li>
                </ol>
                 <td>{{item.valor_venta | currency}}</td>
            </div>--><!--col-->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!--CONTENIDO-->
 <hr>
 <input type="button" value="Crear Producto" class="btn-warning" (click)="mostrar_form('ver')">
 <hr>
 <!--FORMULARIO-->
 <div id="formulario" *ngIf="mform == true">
       <div class="row">
           <div class="col-lg-4">
               <input type="text" class="form-control" placeholder="Nombre" 
               [(ngModel)]="obj_productos.nombre"> 
               <span style="color: red;" *ngIf="Validar_nombre == false" >Insertar nombre del producto</span>
           </div>
           <div class="col-lg-4">
               <input type="text" class="form-control" placeholder="Codigo" 
               [(ngModel)]="obj_productos.codigo"> 
               <span style="color: red;" *ngIf="Validar_codigo == false" >Insertar codigo del producto</span>
           </div>
           <div class="col-lg-4">
               <input type="text" class="form-control" placeholder="Valor compra del producto" 
               [(ngModel)]="obj_productos.valor_compra"> 
               <span style="color: red;" *ngIf="Validar_valor_compra == false" >Insertar el valor de la compra del producto</span>
           </div>
       </div>
       <br>
       <div class="row">
           <div class="col-lg-4">
               <input type="text" class="form-control" placeholder="Valor venta del producto" 
               [(ngModel)]="obj_productos.valor_venta"> 
               <span style="color: red;" *ngIf="Validar_valor_venta == false" >Insertar el valor de la venta del producto</span>
           </div>
           <div class="col-lg-4">
               <input type="text" class="form-control" placeholder="Stock del producto" 
               [(ngModel)]="obj_productos.stoock"> 
               <span style="color: red;" *ngIf="Validar_stoock == false" >Insertar el stock del producto</span>
           </div>
           <div class="col-lg-4">
               <select class="form-control form-select" [(ngModel)]="obj_productos.fo_proveedor">
                   <option value="0" label="seleccione el proveedor" selected="selected">Seleccione el proveedor</option>
                   <option *ngFor="let itempro of proveedor" value="{{itempro.id_proveedor}}">{{itempro.razon_social}}</option>
               </select>
               <span style="color: red;" *ngIf="Validar_fo_proveedor == false" >Insertar el proveedor del producto</span>
           </div>
       </div>
       <br>
       <div class="row">
           <div class="col-lg-4">
               <select class="form-control form-select" [(ngModel)]="obj_productos.fo_marca">
                   <option value="0" label="seleccione la marca" selected="selected">Seleccione la marca</option>
                   <option *ngFor="let itemarca of marca" value="{{itemarca.id_marca}}">{{itemarca.nombre}}</option>
               </select> 
               <span style="color: red;" *ngIf="Validar_fo_marca == false" >Insertar la marca del producto</span>
           </div>
           <div class="col-lg-4">
            <input type="button" value="Guardar" class="btn btn-primary" style="width: 100%;" (click)="validar('guardar')" *ngIf="botones_form == false">
            <input type="button" value="Editar" class="btn btn-primary" style="width: 100%;" (click)="validar('editar')" *ngIf="botones_form == true">
        </div>
        <div class="col-lg-4">
            <input type="button" value="Cancelar" class="btn btn-secondary" style="width: 100%;" (click)="mostrar_form('no ver')">
        </div>
       </div>
 </div>
 <!--Tabla-->
 <hr>
 <div style="background-color: rgb(94, 53, 53);" id="tabla">
   <div class="row">
       <!--<div class="col-lg-1"></div>-->
       <div class="col-lg-12">
           <div class="table-responsive">
               <table class="table">
                   <tr>
                     <th>Nombre</th>
                     <th>Codigo</th>
                     <th>Valor Compra</th> 
                     <th>Valor Venta</th>
                     <th>Stock</th>
                     <th>Proveedor</th>
                     <th>Marca</th>
                     <th>Acciones</th>
                   </tr>
                   <tr *ngFor="let item of producto">
                     <td>{{item.nombre}}</td>
                     <td>{{item.codigo}}</td>
                     <td>{{item.valor_compra | currency}}</td>
                     <td>{{item.valor_venta | currency}}</td>
                     <td>{{item.stoock}}</td>
                     <td>{{item.proveedor}}</td>
                     <td>{{item.marca}}</td>
                     <td>
                       <span class="fas fa-edit" style="color: rgb(26, 8, 130); cursor: pointer;" title="Editar" (click)="cargar_datos(item, item.id_productos)"></span> 
                       / 
                      <span class="fas fa-backspace" style="color: rgb(255, 0, 0); cursor: pointer;" title="Eliminar" (click)="eliminar(item.id_productos)"></span>
                     </td>
                   </tr>
               </table>
               </div>
               </div>
       <!--<div class="col-lg-1"></div>-->
            </div>
       </div>
    </div>
</section>
<!-- /.content -->