<!-- Navbar -->
<nav id="nav" class="main-header navbar navbar-expand navbar-dark">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
   <li id="nav-item">
     <a class="nav-link" data-widget="pushmenu" href="#" role="button" style="color: black;">
       <i class="fas fa-bars"></i>
     </a>
   </li>
   <li class="nav-item d-flex align-items-center">
     <span class="welcome-text">👋 Bienvenido /</span>
     <span class="welcome-text">/ {{nombre}}</span>
   </li> 
 </ul>

 <!-- Right navbar links -->
<div class="collapse navbar-collapse" id="navbarSupportedContent">
 <ul class="navbar-nav ml-auto">
   <li class="nav-item">
     <a class="nav-link" data-widget="fullscreen" href="#" role="button" style="color: black;">
       <i class="fas fa-expand-arrows-alt"></i>
     </a>
   </li>
   <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{email}}
    </a>
    <div id="menu" class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a [routerLink]="['/ajustes']" class="dropdown-item" >
        <i class="fas fa-cog" style="margin-right: 8px;"></i> Ajustes
      </a>
      <a class="dropdown-item" href="#">
        <i class="fas fa-key" style="margin-right: 8px;"></i> Cambiar Contraseña
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" style="cursor: pointer;" (click)="cerrar()">
        <i class="fas fa-sign-out-alt" style="margin-right: 8px;"></i> Cerrar Sesión
      </a>
    </div>    
  </li>
 </ul>
</div>

</nav>
<!-- /.navbar -->