<!-- Navbar -->
<nav id="nav" class="main-header navbar navbar-expand navbar-dark">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
   <li id="nav-item">
     <a class="nav-link" data-widget="pushmenu" href="#" role="button" style="color: black;">
       <i class="fas fa-bars"></i>
     </a>
   </li>
   <li class="nav-item d-flex align-items-center">
     <span class="welcome-text">👋 Bienvenido /</span>
     <span class="welcome-text">/ {{nombre}}</span>
   </li> 
 </ul>

 <!-- Right navbar links -->
 <ul class="navbar-nav ml-auto">
   <li class="nav-item">
     <a class="nav-link" data-widget="fullscreen" href="#" role="button" style="color: black;">
       <i class="fas fa-expand-arrows-alt"></i>
     </a>
   </li>
 </ul>

  <ol class="navbar-nav ml-1">
    <li class="breadcrumb-item">
      <span style="color: black;" (click)="cerrar()">Cerrar Sesion</span>
    </li>
  </ol>

</nav>
<!-- /.navbar -->